USE [master]
GO
/****** Object:  Database [Project1Todo]    Script Date: 1/21/2017 10:15:23 AM ******/
IF EXISTS(SELECT name FROM sys.databases
    WHERE name = 'Project1Todo')
    DROP DATABASE Project1Todo
GO
CREATE DATABASE [Project1Todo]
 CONTAINMENT = NONE
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Project1Todo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Project1Todo]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 1/21/2017 10:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[catID] [int] IDENTITY(1,1) NOT NULL,
	[catName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[catID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Item]    Script Date: 1/21/2017 10:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[itemID] [int] NOT NULL,
	[itemName] [nvarchar](max) NOT NULL,
	[listID] [int] NOT NULL,
 CONSTRAINT [PK_Item] PRIMARY KEY CLUSTERED 
(
	[itemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[List]    Script Date: 1/21/2017 10:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[List](
	[listID] [int] IDENTITY(1,1) NOT NULL,
	[listName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_List] PRIMARY KEY CLUSTERED 
(
	[listID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ListCategoryJunction]    Script Date: 1/21/2017 10:15:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListCategoryJunction](
	[listID] [int] NOT NULL,
	[catID] [int] NOT NULL,
 CONSTRAINT [PK_ListCategoryJunction] PRIMARY KEY CLUSTERED 
(
	[listID] ASC,
	[catID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [FK_Item_List] FOREIGN KEY([listID])
REFERENCES [dbo].[List] ([listID])
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [FK_Item_List]
GO
ALTER TABLE [dbo].[ListCategoryJunction]  WITH CHECK ADD  CONSTRAINT [FK_ListCategoryJunction_Category] FOREIGN KEY([catID])
REFERENCES [dbo].[Category] ([catID])
GO
ALTER TABLE [dbo].[ListCategoryJunction] CHECK CONSTRAINT [FK_ListCategoryJunction_Category]
GO
ALTER TABLE [dbo].[ListCategoryJunction]  WITH CHECK ADD  CONSTRAINT [FK_ListCategoryJunction_List] FOREIGN KEY([listID])
REFERENCES [dbo].[List] ([listID])
GO
ALTER TABLE [dbo].[ListCategoryJunction] CHECK CONSTRAINT [FK_ListCategoryJunction_List]
GO
USE [master]
GO
