<!DOCTYPE html>
<html>
<head>
    <title>List - @ViewBag.Title</title>
    <meta charset="utf-8" />

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootswatch/spacelab/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

</head>
<body>
    <div id="sidebar" class="text-uppercase">
        <span>List Name</span>
        <ul class="nav">
            <li class="active"><a asp-controller="App" asp-action="Index">List</a></li>
            <li><a asp-controller="App" asp-action="Select">Select List</a></li>
            <li><a asp-controller="App" asp-action="Create">Create List</a></li>
        </ul>
    </div>
    <div id="wrapper">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <button id="sidebarToggle" class="btn btn-primary">
                            <i class="fa fa-angle-double-left"></i>
                        </button>
                    </li>
                </ul>
                <a asp-controller="App" asp-action="Index" class="navbar-brand" style="padding-left: 30px;">List</a>
                @*<ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#" class="btn btn-sm btn-info">
                                <i class="fa fa-save"></i> Save
                            </a>
                        </li>
                    </ul>*@
            </div>
        </nav>
        <div id="main" class="container-fluid">
            @RenderBody()
        </div>
        <footer class="text-primary container-fluid">
            <div class="navbar navbar-inverse navbar-fixed-bottom">
                <h4 class="text-center">&copy; CS3750 Group6</h4>
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.js"></script>

    @RenderSection("scripts", false)
</body>
</html>
